/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
.masthead{
	background-color: white;
	width: 100%;
	height:71px;
	position: fixed;
	z-index: 1000;
}

.masthead > img{
	width:26px;
	display: block;
	position: fixed;
	left: 5em;
	top:1em;
}

.masthead >ul{
	display:block;
	position: fixed;
	right: 5em;
	top: 1.85em;
}
.masthead > ul >li{
	display: inline;
	list-style-type:none;
	padding-right:1.2em;
}

.masthead > ul > li > a {
		text-decoration: none;
		font-family: 'Roboto';
		color:#c3c3c3;
}
.masthead > ul > li > a:hover {
		color: #696969;

}
#Meet-Karma{
	color:#696969;
	font-weight: 600;
}
#Meet-Karma:hover{
	color:#4b4a4a;
}

.middle{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: -12em 0em;
}

section > div{
	width:cover;
	height:730px;
}

h1{
	color:white;
	text-align: center;
	position:relative;
	top:17rem;
	font-family: 'Roboto';
	font-size: 3.125rem;
	font-weight: 300;
}
h3{
	color:white;
	text-align: center;
	position:relative;
	top:17rem;
	font-family: 'Roboto';
}
#subheading{
	font-size: 1.563rem;
	font-weight: 300;
	margin-top: 1.25rem;
}
#button{
	display:block;
	background-color:#f15a29;
	width:9.688rem;
	height:53px;
	border-radius: 4px;
	position: relative;
	margin: 0 auto;
	top: 19.2em;
}

#button :hover{
  	background-color: #d9400e;
    border-color: #cf3d0e;
    border-radius: 4px;
}


#button > p{
	text-align: center;
	vertical-align: middle;
	line-height: 53px;
	color:white;
	font-family: 'Roboto';
	font-size: 1.125rem;
}

.footer{
	width: cover;
	height: 525px;
	background-color: white;
	text-align: center;
}

.footer > h2{
	color:black;
	text-align: center;
	font-family: 'Roboto';
	font-size: 2.75rem;
	font-weight: 300;
	margin-top: 3em;
	margin-bottom: 1.1em;
}

.text{
	color:black;
	font-family: 'Roboto';
	font-size: 1.5em;
	font-style: none;

}

table{
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
}

.image-wrapper{
	width:127px;
	height:127px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.7em;
}
.imagewrapper > img{
	width:100%;
	height:100%;
}

hr{
	display: block;
}
.footer > hr{
	border: 0;
	border-top: 1px solid #eaebec;
	margin-left: 6rem;
	margin-right: 6rem;
	margin-top: 9rem;
}

h5{
	text-align: center;
}